@font-face {
    font-family: 'SGA-unpixel';
    src: url('https://kry137.github.io/sga/standard-galactic-alphabet-unpixelated/standard-galactic-alphabet-unpixelated.ttf');
}

* {
    font-family: 'SGA-unpixel' !important;
}