@font-face {
    font-family: 'SGA-unpixel';
    src: url('https://github.com/kry137/sga/blob/ab4eaf9e13d1f9fa184242a6bf8905b24f0dfb06/standard-galactic-alphabet-unpixelated/standard-galactic-alphabet-unpixelated.ttf');
}

* {
    font-family: 'SGA-unpixel' !important;
}